* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	background: rgba(255, 137, 85, 1);
	padding: 20px 10px;
}

body {
	font-family: "Fira code", arial, serif;
	font-weight: 500;
}

header h1 {
	color: rgba(0,0,0,1);
}

.conteudo {
	display: grid;
	grid-template-columns: 2fr 8fr;
}

aside nav {
	text-align: center;
}

aside nav div {
    padding: 10px;
	border-bottom: 1px solid rgba(255, 137, 85, 1);
	text-transform: uppercase;
	transition: all .1s ease-in-out;
}

aside nav div:hover {
	cursor: pointer;
	background: rgba(248, 185, 145, 1);
}

aside nav div:active {
	background: rgba(221, 119, 51, 1);
}

.active {
    font-weight: bold;
	background: rgba(255, 137, 85, 1);
}

main {
    padding: 10px;
	background: #f8f8f8;
}

.acoes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
}

.acoes i,
button {
	color: rgba(255, 255, 255, 1);
	background: rgba(0, 0, 0, 1);
	padding: 6px 8px;
	border: 2px solid rgba(0, 0, 0, 1);
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
}

.box-pesquisar {
	display: flex;
	align-items: center;
}

i.fa-search {
	margin-left: -4px;
	padding: 7px 10px;
	border-radius: 0 5px 5px 0;
}

i:hover,
button:hover {
	cursor: pointer;
	background:  rgba(255, 137, 85, 1);
	border-color: rgba(255, 137, 85, 1);
}

i:active,
button:active {
	color: rgba(255, 137, 85, 1);
	border-color: rgba(255, 137, 85, 1);
	background: rgba(248,248,248,1);
}



.acoes input {
	border: 2.4px solid black;
	border-radius: 5px 0 0 5px;
	padding: 7px 10px;
}

table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	cursor: default;
}

table tr:nth-child(n+1) {
	border-bottom: 1px solid rgba(248, 185, 145, 1);
}

tbody tr:hover {
	background: rgba(248, 185, 145, .2);
}

table th {
	text-transform: uppercase;
	padding: 20px 0;
}

table td {
	padding: 2px;
}
