:root {
	--cor1: #222831;
	--cor2: #393E46;
	--cor3: #FD7014;
	--cor4: #EEEEEE;
}


@font-face {
	font-family: "Fira code";
	src:  url('../font/FiraCode-Regular.ttf');
}

@font-face {
	font-family: "Fira code";
	src:  url('../font/FiraCode-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Fira code";
	src:  url('../font/FiraCode-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: "Fira code";
	src:  url('../font/FiraCode-Light.ttf');
	font-style: italic;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	background: var(--cor3);
	padding: 20px 10px;
}

body {
	color: var(--cor4);
	font-family: "Fira code", arial, serif;
	font-weight: 500;
	background: var(--cor1);
}

.conteudo {
	display: grid;
	grid-template-columns: 2fr 8fr;
}

h1.cinema {
	display: inline-block;
	cursor: pointer;
}

aside nav {
	text-align: center;

}

aside nav div {
	background: var(--cor1);
    padding: 20px 10px;
	border-bottom: 1px solid var(--cor3);
	text-transform: uppercase;
	transition: all .1s ease-in-out;
}

aside nav div:hover {
	cursor: pointer;
	background: var(--cor2);
}

aside nav div:active {
	background: var(--cor3);
}

.active {
    font-weight: bold;
	background: var(--cor2);
}

main {
    padding: 30px;
	background: var(--cor2);
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0, .2)
}

.acoes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
}

.acoes i,
button {
	color: var(--cor4);
	background: var(--cor1);
	padding: 6px 8px;
	border: 2px solid var(--cor1);
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
	box-shadow: 2px 1px 5px rgba(0,0,0, .2);
}

.box-pesquisar {
	display: flex;
	align-items: center;
}

i.fa-search {
	margin-left: -4px;
	padding: 7px 10px;
	border-radius: 0 5px 5px 0;
}

i:hover,
button:hover {
	cursor: pointer;
	background:  var(--cor3);
	border-color: var(--cor3);
}

i:active,
button:active {
	color: var(--cor1);
	border-color: var(--cor4);
	background: var(--cor4);
}

input[type="text"],
input[type="time"],
input[type="number"],
select {
	background: var(--cor4);
}

.acoes input {
	border: 2.4px solid black;
	border-radius: 5px 0 0 5px;
	padding: 7px 10px;
}

table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	cursor: default;
}

table tr:nth-child(n+1) {
	border-bottom: 1px solid rgba(248, 185, 145, 1);
}

tbody tr:hover {
	background: rgba(248, 185, 145, .2);
}

table th {
	text-transform: uppercase;
	padding: 20px 0;
}

table td {
	padding: 10px 0;
}

form {
	margin: auto;
	width: 50vw;
	padding: 20px 0 20px 0;
}

form label {
	display: block;
	width: 100%;
	font-weight: bold;
	border-left: 3px solid var(--cor3);
	padding: 3px 10px;
	margin: 20px 0 5px 0;
}

form input,
form select {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 1px 5px rgba(0,0,0, .1);
	transition: all .1s ease-in-out;
}

form input:focus,
form select:focus {
	outline: 1px solid var(--cor3);
}

form input[type="submit"] {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 60px;
	background: linear-gradient(45deg, var(--cor3), rgba(248, 185, 145, 1));
	transition: all .1s ease-int-out;
	opacity: 1;
	cursor: pointer;
}

form input[type="submit"]:hover {
	opacity: .8;
	letter-spacing: 5px;
}

form div.duracao {
	display: flex;
	justify-content: space-between;
}

form div.duracao div {
	width: 45%;
}

form div select {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 1px 5px rgba(0,0,0, .1);
	transition: all .1s ease-in-out;
}

div.confirmar,
div.fundo {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

div.confirmar {
	display: flex;
	justify-content: center;
	text-align: center;
}

div.fundo {
	background: black;
	opacity: .5;
	z-index: 10;
}

div.caixa {
	align-self: center;
	z-index: 15;
	position: absolute;
	width: 50vh;
	background: var(--cor1);
	border-radius: 5px;
	padding: 40px 40px;
	box-shadow: 2px 1px 5px rgba(0,0,0, .3);
}

div.caixa span {
	display: block;
	margin: 0 0 20px 0;
}

.caixa-botoes {
	display: flex;
	justify-content: space-around;
}

.caixa-botoes button{
	font-weight: bold;
	padding: 10px 20px;
}

.caixa-botoes button {
	background: var(--cor2);
	border-color: var(--cor2);
}

.caixa-botoes button:hover {
	background: var(--cor3);
	border-color: var(--cor3);
}