* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	background: rgba(255, 137, 85, 1);
	padding: 20px 10px;
}

body {
	font-family: "Fira code", arial, serif;
	font-weight: 500;
}

header h1 {
	color: rgba(0,0,0,1);
}

.conteudo {
	display: grid;
	grid-template-columns: 2fr 8fr;
}

aside nav {
	text-align: center;
}

aside nav div {
    padding: 10px;
	border-bottom: 1px solid rgba(255, 137, 85, 1);
	text-transform: uppercase;
	transition: all .1s ease-in-out;
}

aside nav div:hover {
	cursor: pointer;
	background: rgba(248, 185, 145, 1);
}

aside nav div:active {
	background: rgba(221, 119, 51, 1);
}

.active {
    font-weight: bold;
	background: rgba(255, 137, 85, 1);
}

main {
    padding: 10px;
	background: #f8f8f8;
}

.acoes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
}

.acoes i,
button {
	color: rgba(255, 255, 255, 1);
	background: rgba(0, 0, 0, 1);
	padding: 6px 8px;
	border: 2px solid rgba(0, 0, 0, 1);
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
}

.box-pesquisar {
	display: flex;
	align-items: center;
}

i.fa-search {
	margin-left: -4px;
	padding: 7px 10px;
	border-radius: 0 5px 5px 0;
}

i:hover,
button:hover {
	cursor: pointer;
	background:  rgba(255, 137, 85, 1);
	border-color: rgba(255, 137, 85, 1);
}

i:active,
button:active {
	color: rgba(255, 137, 85, 1);
	border-color: rgba(255, 137, 85, 1);
	background: rgba(248,248,248,1);
}



.acoes input {
	border: 2.4px solid black;
	border-radius: 5px 0 0 5px;
	padding: 7px 10px;
}

table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	cursor: default;
}

table tr:nth-child(n+1) {
	border-bottom: 1px solid rgba(248, 185, 145, 1);
}

tbody tr:hover {
	background: rgba(248, 185, 145, .2);
}

table th {
	text-transform: uppercase;
	padding: 20px 0;
}

table td {
	padding: 10px 0;
}

form {
	margin: auto;
	width: 50vw;
	padding: 20px 0 60px 0;
}

form label {
	display: block;
	width: 100%;
	font-weight: bold;
	border-left: 3px solid rgba(255, 137, 85, 1);
	padding: 3px 10px;
	margin: 20px 0 5px 0;
}

form input,
form select {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 1px 5px rgba(0,0,0, .1);
	transition: all .1s ease-in-out;
}

form input:focus,
form select:focus {
	outline: 1px solid rgba(255, 137, 85, 1);
}

form input[type="submit"] {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 60px;
	background: linear-gradient(45deg, rgba(255, 137, 85, 1), rgba(248, 185, 145, 1));
	transition: all .1s ease-int-out;
	opacity: 1;
	cursor: pointer;
}

form input[type="submit"]:hover {
	opacity: .8;
	letter-spacing: 5px;
}

form div.duracao {
	display: flex;
	justify-content: space-between;
}

form div.duracao div {
	width: 45%;
}

form div select {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 1px 5px rgba(0,0,0, .1);
	transition: all .1s ease-in-out;
}

div.confirmar,
div.fundo {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

div.confirmar {
	display: flex;
	justify-content: center;
	text-align: center;
}

div.fundo {
	background: black;
	opacity: .5;
	z-index: 10;
}

div.caixa {
	align-self: center;
	z-index: 15;
	position: absolute;
	width: 50vh;
	background: white;
	border-radius: 5px;
	padding: 40px 40px;
	box-shadow: 2px 1px 5px rgba(0,0,0, .1);
}

div.caixa span {
	display: block;
	margin: 0 0 20px 0;
}

.caixa-botoes {
	display: flex;
	justify-content: space-around;
}

.caixa-botoes button{
	font-weight: bold;
	padding: 10px 20px;
}

.caixa-sim {
	background: rgba(248, 185, 145, 1);
	border-color: rgba(248, 185, 145, 1);
}